ul.panel{
    list-style-type: none;
    background-color: rgb(0, 150, 69);
    color: white
}

nav ul {
    display: none;
  }

nav > ul {
    display: flex;
    flex-flow: row;
  }

  nav li {
    padding: 1rem;
  }

