@import url(fonts/swiss-721.css);


html{
  background: radial-gradient(ellipse at center, #009645 0%, rgba(164,179,87,1) 100%);

}

html,h2, main, head, body{
  font-family: 'Swiss 721 Condensed Italic BT', 'Arial-Narrow', sans-serif;
  font-size: 12px;
}

input, label {
    /* width: 50%; */
    /* margin: 8px 0; */
    box-sizing: border-box;
  } 

.boton{
  display: inline-block;
  background-color: #009645;
  border-radius: 16px;
  padding: 5px;
  color: white;
}

#turnos{
    font-family: 'Swiss 721 Bold Condensed BT', 'Arial-Narrow', sans-serif;
    /* border-collapse: collapse;
    width: auto; */
    border: 20px solid transparent;
    /* -moz-border-image: -moz-linear-gradient(top, #a9b5b6 0%, #009645 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #a9b5b6 0%, #009645 100%); */
    border-image: linear-gradient(to bottom, #a9b5b6 0%, #009645 100%);
    border-image-slice: 1;
    /* overflow:scroll; */
    /* height: 100px;
    overflow-y: auto; */
}

table{
  display:block;
  overflow:auto;
  height:80%;
  width:100%;
}

h1{
  text-transform: uppercase;
  color: #006ec7;
  text-decoration: none;
}
#turnos td, #turnos th {
    border: 1px solid #ddd;
    padding: 8px;
  }
#turnos tr:nth-child(even){background-color: #f2f2f2;}

#turnos tr:hover {background-color: #ddd;}

#turnos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(0, 150, 69);
    color: white;
}

#nombre_paciente{
  /* grid-area: nom_paciente; */
  /* background-color:rgb(0, 110, 199); */
  text-align: center;
}

/* .panel{
  /* grid-area: panel; */
  /* background-color: magenta;
} */ 

legend{
  text-transform: uppercase;
  text-shadow: mediumblue;
}
.datos_del_paciente{
  grid-area: datos_del_paciente;
}
.datos_del_turno{
  grid-area: datos_del_turno;
}
.btn_corregir{
  grid-area: btn_corregir;
  background-color: #009645;
  border-radius: 16px;
  padding: 5px;
  color: white;
}
.form_ingreso{
  display: grid;
  grid-template-areas:  
  'datos_del_paciente datos_del_turno'
  'btn_corregir btn_corregir';
}

.formulario_cargado{
  /* grid-area: form_cargado; */
  /* background-color: khaki; */
  /* flex-flow: column; */
  /* width: auto; */

  /* align-items: center; */
  /* margin-block-end: 10px;
  padding-left: 25%;
  padding-top: 10px;
  padding-block-end: 10px; */
}

input, label{
  display: block;
}

.input_oculto{
  display: none;
}

/* 
label{
  display: block;
} */

.receta_cargada{
  /* grid-area: img_receta; */
  /* background-color: lawngreen; */
  /* flex-flow: column; */
  /* padding-left: 0; */
  width: 500px;
  height: 333px; 
  /* margin: auto; */
}

.contenedor_principal{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  /* align-items: center; */
  /* grid-template-columns: 2fr 1fr;
  grid-template-areas:  */
  /* 'form_cargado img_receta'; */
  /* background-color: rgba(175, 176, 185, 0.575); */
}

footer{
  /* grid-area: footer; */
  background-color: lightcoral;
}


/* .contenido{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh min-content 1fr max-content;
  grid-template-areas: 
  'panel'
  'form_cargado img_receta'
  'footer'; 
  background-color: rgb(0, 110, 199);
} */
