

  input, label {
    width: 50%;
    margin: 8px 0;
    box-sizing: border-box;
  } 

#turnos{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#turnos td, #turnos th {
    border: 1px solid #ddd;
    padding: 8px;
  }
#turnos tr:nth-child(even){background-color: #f2f2f2;}

#turnos tr:hover {background-color: #ddd;}

#turnos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(0, 150, 69);
    color: white;
}